name: CI

on:
  push:
    branches: master
  pull_request:
    branches: "*"

jobs:
  tests:
    name: "${{ matrix.ruby }} / rails ${{ matrix.rails }} / postgres ${{ matrix.database.version }}"
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby: ["ruby-3.2", "ruby-4.0"]
        rails: ["7.2", "8.1"]
        database:
          - image: "postgres"
            version: "14"
          - image: "postgres"
            version: "18"

    services:
      postgres:
        image: ${{ matrix.database.image }}:${{ matrix.database.version }}
        env:
          POSTGRES_USER: postgres
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      POSTGRES_USER: postgres
      RAILS_VERSION: ${{ matrix.rails }}

    steps:
      - uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          rubygems: latest

      - name: Setup environment
        run: bin/setup

      - name: Run tests
        run: bundle exec rake
